li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

section {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  #nav .nav_logo {
    width: 40%;
  }
  #nav .nav_menu {
    width: 60%;
  }
  #nav .nav_menu > ul {
    padding-right: 50px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 1100px) {
  #nav .nav_logo {
    width: 25%;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
  }
  #nav .nav_logo a {
    margin-right: 0 !important;
  }
  #nav .nav_menu {
    width: 75%;
  }
  #section_9 .section_9_item {
    width: 48% !important;
    margin: 0 auto 30px auto;
  }
  #section_11 li:first-child {
    width: 48% !important;
  }
  #section_11 li {
    width: 40% !important;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1000px) {
  #nav .nav_logo {
    width: 30% !important;
  }
  #nav .nav_menu {
    width: 70% !important;
  }
  #nav .nav_menu > ul {
    padding-right: 30px  !important;
  }
  #nav .nav_menu > ul li > a {
    margin: 0 12px !important;
  }
  #section_2 .section_2_item {
    width: 48% !important;
    margin-bottom: 30px;
  }
  #section_3 .section_3_text {
    width: 50% !important;
  }
  #section_5 .section_5_item {
    width: 48% !important;
    margin-bottom: 4% !important;
  }
  #section_4 .section_4_contant {
    width: 90% !important;
  }
  #section_4 .section_4_contant .section_4_text {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  #section_1 h1 {
    font-size: 30px !important;
  }
  #section_1 p {
    font-size: 14px !important;
  }
  #section_6 .play_btn svg {
    font-size: 30px !important;
  }
  #section_6 h1 {
    font-size: 25px !important;
  }
  #section_8 .section_8_item .counter {
    font-size: 20px !important;
  }
  #section_8 .section_8_item p {
    font-size: 14px !important;
  }
  #section_7 .section_7_content {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #section_7 .section_7_content > img {
    width: 70% !important;
    margin-bottom: 40px !important;
  }
  #section_7 .section_7_content .section_7_content_text {
    width: 70% !important;
    margin-bottom: 40px !important;
  }
  #section_5 .section-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #section_5 .section-center .section_5_item {
    width: 80% !important;
  }
}

@media screen and (max-width: 800px) {
  #nav .nav_logo {
    width: 40% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #nav .nav_menu {
    width: 20% !important;
  }
  #nav .nav_menu .bar_icon {
    display: block !important;
  }
  #nav .nav_menu ul {
    opacity: 0;
    height: 200px;
    position: absolute;
    width: 100%;
    bottom: 500%;
    left: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    display: block !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px 0;
    z-index: -1;
  }
  #nav .nav_menu ul .last_li {
    display: none !important;
  }
  #nav .nav_menu ul li {
    margin-bottom: 10px;
  }
  #nav .nav_menu ul li a {
    font-size: 16px !important;
    z-index: -1;
  }
  #section_1 .select_1_center {
    width: 50% !important;
  }
}

@media screen and (max-width: 700px) {
  #section_9 .section_9_item {
    width: 80% !important;
  }
  #section_11 ul {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #section_11 ul li, #section_11 ul .first {
    width: 80% !important;
  }
}

@media screen and (max-width: 600px) {
  #section_8 .section_8_items {
    width: 100% !important;
    padding: 0 20px;
  }
  #section_7 .section_7_content {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #section_7 .section_7_content > img {
    width: 100% !important;
    margin-bottom: 40px !important;
  }
  #section_7 .section_7_content .section_7_content_text {
    width: 100% !important;
    margin-bottom: 40px !important;
  }
  #nav .nav_logo {
    width: 50% !important;
  }
  #section_1 .select_1_center h1 {
    font-size: 20px !important;
  }
  #section_1 .select_1_center h4 {
    font-size: 15px;
  }
  #section_2 .section_2_items {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #section_2 .section_2_items .section_2_item {
    width: 60% !important;
  }
  #section_6 .header_contant {
    width: 80% !important;
  }
}

@media screen and (max-width: 600px) {
  footer ul {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  footer ul .copyright {
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-bottom: 30px !important;
  }
  footer ul .privacy {
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  #section_8 .section_8_items {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #section_8 .section_8_items .section_8_item {
    width: 51% !important;
    margin-bottom: 40px;
  }
  #nav .nav_logo {
    width: 60% !important;
  }
  #section_1 .select_1_center {
    width: 70% !important;
  }
  #section_2 .section_2_items .section_2_item {
    width: 90% !important;
  }
  #section_2 .section_2_items .section_2_item svg {
    font-size: 50px !important;
  }
  #section_3 .section_3_text {
    width: 70% !important;
  }
  #section_3 .section_3_img {
    width: 95% !important;
  }
  #section_9 .section_9_item {
    width: 90% !important;
  }
  #section_11 ul li, #section_11 ul .first {
    width: 95% !important;
  }
}

@media screen and (max-width: 400px) {
  #nav .nav_logo {
    width: 70% !important;
  }
  .arrows a svg {
    font-size: 25px !important;
  }
  #section_5 .section-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #section_5 .section-center .section_5_item {
    width: 100% !important;
  }
}

@font-face {
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
  font-family: font1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: font1;
}

.nav_active {
  background-color: white;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav_active2 {
  background-color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ul_active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1 !important;
  bottom: 0 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 10px 0;
}

#nav > div {
  width: 50%;
}

#nav .nav_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

#nav .nav_logo a {
  margin-right: 100px;
}

#nav .nav_logo a img {
  max-height: 100%;
}

#nav .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#nav .nav_menu .bar_icon {
  margin-right: 45px;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

#nav .nav_menu .bar_icon svg {
  font-size: 30px;
  color: gray;
}

#nav .nav_menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#nav .nav_menu ul li a {
  display: inline-block;
  margin: 0 16px;
  font-size: 14px;
  color: gray;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#nav .nav_menu ul li a:hover {
  color: #998675;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_1 {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../images/photo.png");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/photo.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#section_1 .select_1_center {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

#section_1 .select_1_center .section_1_contant {
  min-width: 100%;
  color: white;
  text-align: center;
  padding: 0 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_1 .select_1_center .section_1_contant h4 {
  font-weight: lighter;
  letter-spacing: 3px;
}

#section_1 .select_1_center .section_1_contant h1 {
  margin: 5px 0 15px 0;
  font-size: 40px;
}

#section_1 .select_1_center .section_1_contant > button {
  width: 170px;
  height: 45px;
  margin-top: 30px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_1 .select_1_center .section_1_contant > button:hover {
  background-color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #998675;
}

#section_1 .arrows {
  position: absolute;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #998675;
}

#section_1 .arrows a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_1 .arrows a:hover svg {
  color: #998675;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_1 .arrows a svg {
  font-size: 40px;
  color: gray;
}

#section_2 {
  padding: 70px 0;
}

#section_2 .section_2_items {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section_2 .section_2_items .section_2_item {
  width: 23%;
  text-align: center;
  color: gray;
}

#section_2 .section_2_items .section_2_item:hover svg, #section_2 .section_2_items .section_2_item:hover h1 {
  color: #998675;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_2 .section_2_items .section_2_item > svg {
  font-size: 60px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_2 .section_2_items .section_2_item h1 {
  margin: 15px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_2 .section_2_items .section_2_item p {
  font-size: 14px;
  line-height: 20px;
}

#section_3 .section_3_text {
  width: 25%;
  margin: 0 auto 120px auto;
  color: gray;
  text-align: center;
}

#section_3 .section_3_text p {
  font-size: 14px;
  margin-top: 10px;
  padding: 0 10px;
}

#section_3 .section_3_img {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

#section_3 .section_3_img img {
  max-width: 50%;
}

#section_3 .section_3_img .center_img {
  max-width: 55% !important;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#section_4 {
  width: 100%;
  padding: 30px 0;
  background-color: #33251f;
}

#section_4 .section_4_contant {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

#section_4 .section_4_contant .section_4_text h1 {
  color: white;
  margin-bottom: 10px;
}

#section_4 .section_4_contant .section_4_text h1 span {
  color: gray;
}

#section_4 .section_4_contant .section_4_text p {
  color: gray;
}

#section_4 .section_4_contant > button {
  width: 170px;
  height: 45px;
  margin-top: 30px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_4 .section_4_contant > button:hover {
  background-color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #998675;
}

#section_5 {
  padding-top: 60px;
}

#section_5 .section_5_button {
  width: 170px;
  height: 45px;
  display: block;
  margin: 40px auto;
  background-color: #703b2a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#section_5 .section_5_text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: gray;
}

#section_5 .section_5_text p {
  margin: 30px 0;
}

#section_5 .btn-container {
  width: 80%;
  margin: 60px auto 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section_5 .btn-container .filter-btn {
  padding: 5px 20px;
  border: 1px solid gray;
  border-radius: 3px;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_5 .btn-container .filter-btn:hover {
  background-color: #33251f;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #998675;
}

#section_5 .section-center {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

#section_5 .section-center .section_5_item {
  width: 32%;
  margin-bottom: 2%;
}

#section_5 .section-center .section_5_item:hover .icon_container {
  opacity: 1 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_5 .section-center .section_5_item:hover .item_img::before {
  opacity: 1 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_5 .section-center .section_5_item:hover .item-info {
  background-color: #33251f;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_5 .section-center .section_5_item:hover .item-info h4 {
  color: gray;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_5 .section-center .section_5_item:hover .item-info p {
  color: #998675;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_5 .section-center .section_5_item .item1 {
  background-image: url("../images/photo2.png");
}

#section_5 .section-center .section_5_item .item2 {
  background-image: url("../images/photo3.png");
}

#section_5 .section-center .section_5_item .item3 {
  background-image: url("../images/photo4.png");
}

#section_5 .section-center .section_5_item .item4 {
  background-image: url("../images/photo5.png");
}

#section_5 .section-center .section_5_item .item5 {
  background-image: url("../images/photo6.png");
}

#section_5 .section-center .section_5_item .item6 {
  background-image: url("../images/photo3.png");
}

#section_5 .section-center .section_5_item .item_img {
  height: 180px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#section_5 .section-center .section_5_item .item_img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transform: all 0.3s ease;
          transform: all 0.3s ease;
}

#section_5 .section-center .section_5_item .item_img .icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 8;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_5 .section-center .section_5_item .item_img .icon_container a {
  margin-right: 10px;
}

#section_5 .section-center .section_5_item .item_img .icon_container a svg {
  font-size: 20px;
}

#section_5 .section-center .section_5_item .item_img .icon_container a .fa-link {
  color: #998675;
}

#section_5 .section-center .section_5_item .item_img .icon_container a .fa-search {
  color: white;
}

#section_5 .section-center .section_5_item .item-info {
  padding: 20px 10px;
  background-color: #e6e9ec;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_5 .section-center .section_5_item .item-info h4 {
  color: #998675;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_5 .section-center .section_5_item .item-info p {
  color: gray;
  margin-top: 15px;
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_6 {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#section_6::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

#section_6 .main_video {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#section_6 .header_contant {
  position: relative;
  z-index: 9;
  width: 40%;
  text-align: center;
  color: white;
}

#section_6 .header_contant h1 {
  font-size: 30px;
  margin: 20px 0 15px 0;
}

#section_6 .header_contant p {
  font-size: 14px;
}

#section_6 .header_contant .dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

#section_6 .header_contant .dot span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #998675;
  margin-right: 10px;
}

#section_6 .header_contant .play_btn {
  cursor: pointer;
  background-color: transparent;
}

#section_6 .header_contant .play_btn svg {
  font-size: 45px;
  color: white;
}

#section_7 .section_7_content {
  width: 80%;
  margin: 20px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section_7 .section_7_content img {
  max-width: 50%;
}

#section_7 .section_7_content .section_7_content_text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  color: rgba(32, 32, 32, 0.89);
}

#section_7 .section_7_content .section_7_content_text > p {
  font-size: 14px;
  margin: 20px 0  30px 0;
  line-height: 25px;
}

#section_7 .section_7_content .section_7_content_text .section_7_items {
  padding-left: 30px;
}

#section_7 .section_7_content .section_7_content_text .section_7_items .section_7_item .section_7_items_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

#section_7 .section_7_content .section_7_content_text .section_7_items .section_7_item .section_7_items_title > p {
  font-size: 14px;
}

#section_7 .section_7_content .section_7_content_text .section_7_items .section_7_item .section_7_items_title .dropdown-btn {
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
}

#section_7 .section_7_content .section_7_content_text .section_7_items .section_7_item .section_7_items_title .dropdown-btn svg {
  font-size: 16px;
  color: #c58713;
}

#section_7 .section_7_content .section_7_content_text .section_7_items .section_7_item .show_text {
  height: 32px !important;
  opacity: 1 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#section_7 .section_7_content .section_7_content_text .section_7_items .section_7_item .section_7_items_text {
  height: 0;
  opacity: 0;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#section_7 .section_7_content .section_7_content_text .section_7_items .section_7_item .section_7_items_text p {
  font-size: 14px;
  color: #998675;
}

#section_8 {
  background-color: #33251f;
  padding: 30px 0;
}

#section_8 .section_8_items {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section_8 .section_8_items .section_8_item {
  width: 19%;
  color: #998675;
  text-align: center;
}

#section_8 .section_8_items .section_8_item .counter {
  color: white;
  margin: 10px 0;
  font-size: 30px;
}

#section_9 {
  padding: 60px 0;
}

#section_9 .section_9_comtent {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: rgba(32, 32, 32, 0.89);
}

#section_9 .section_9_comtent p {
  margin: 10px 0 40px;
}

#section_9 .section_9_comtent .section_9_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section_9 .section_9_comtent .section_9_items .section_9_item {
  width: 32%;
}

#section_9 .section_9_comtent .section_9_items .section_9_item:hover .item_img::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}

#section_9 .section_9_comtent .section_9_items .section_9_item:hover .item_img .calendar .calendar_number {
  background-color: #998675;
}

#section_9 .section_9_comtent .section_9_items .section_9_item:hover .item_img .calendar .calendar_month {
  background-color: #33251f;
}

#section_9 .section_9_comtent .section_9_items .section_9_item:hover .item-info h2 {
  color: #bb7557;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_9 .section_9_comtent .section_9_items .section_9_item:hover .item-info p {
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_9 .section_9_comtent .section_9_items .section_9_item:hover .item-info {
  background-color: #33251f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item_1 {
  background-image: url("../images/photo7.png");
  background-size: cover;
  background-position: center;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item_2 {
  background-image: url("../images/photo8.png");
  background-size: cover;
  background-position: center;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item_3 {
  background-image: url("../images/photo9.png");
  background-size: cover;
  background-position: center;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item_img {
  height: 180px;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item_img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item_img .calendar {
  position: absolute;
  left: 5%;
  top: 5%;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item_img .calendar > div {
  width: 100%;
  padding: 3px 14px;
  text-align: center;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item_img .calendar .calendar_number {
  background-color: #353131;
  font-size: 22px;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item_img .calendar .calendar_month {
  background-color: #131212;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item-info {
  width: 100%;
  text-align: start;
  padding: 30px 5%;
  -webkit-transition: all 0.3s ease h2;
  transition: all 0.3s ease h2;
  transition-transition: all 0.5s ease;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item-info p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item-info a {
  color: #bb7557;
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_9 .section_9_comtent .section_9_items .section_9_item .item-info a > svg {
  margin-left: 5px;
}

#section_10 {
  padding: 80px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../images/photo10.png);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/photo10.png);
  background-size: cover;
  background-position: center;
}

#section_10 .section_10_icons {
  width: 80%;
  margin: 0 auto;
}

#section_10 .section_10_icons ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_10 .section_10_icons ul li {
  width: 19%;
}

#section_10 .section_10_icons ul li a > img {
  max-width: 100%;
}

#section_11 {
  background-color: #161413;
  padding: 80px 0;
}

#section_11 ul {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section_11 ul li:first-child {
  width: 25%;
}

#section_11 ul li {
  width: 22%;
}

#section_11 ul li p {
  color: gray;
}

#section_11 ul li h2 {
  margin-bottom: 30px;
  color: white;
}

#section_11 ul .first p {
  padding: 15px 0px 20px 0;
}

#section_11 ul .first a {
  color: white;
}

#section_11 ul .first a > svg {
  margin-left: 5px;
}

#section_11 ul .second h2 {
  margin-bottom: 10px;
}

#section_11 ul .second .resent_post_text:hover h4 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#section_11 ul .second .resent_post_text:hover p {
  color: #703b2a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_11 ul .second .resent_post_text h4 {
  font-size: 14px;
  color: gray;
  padding: 20px 0 10px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_11 ul .second .resent_post_text p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section_11 ul .third p {
  margin-bottom: 15px;
}

#section_11 ul .fourth .dribble_img_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section_11 ul .fourth .dribble_img_container .dribble_img {
  width: 48%;
  margin-bottom: 4%;
  overflow: hidden;
}

#section_11 ul .fourth .dribble_img_container .dribble_img img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #161413;
  padding: 30px 0;
  border-top: 1px solid gray;
}

footer ul {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul .copyright {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: gray;
}

footer ul .privacy {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer ul .privacy a {
  margin: 0 10px;
}
/*# sourceMappingURL=style.css.map */